* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(250, 114, 143);
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculadora {
    width: 60vh;
    height: 90vh;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.4);
    border-radius: 5%;
    background-color: #22252D;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.calculadora td button {
    display: block;
    width: 5rem;
    height: 5rem;
    font-size: larger;
}

#pantalla {
    display: block;
    text-align: center;
    font-size: 3em;
    width: 355px;
    height: 100px;
    border-radius: 10%;
    margin: 5% 1%;
    background-color: rgb(218, 219, 219);

}

.signo {
    background-color: #072985;
}

.signo:active {
    background-color: #041850;
}

.numero:active {
    background-color: #c1c4ce;

}

.igual {
    background-color: #0839c0;

}

.igual:active {
    background-color: #01053a;

}